openapi: 3.0.1
info:
  title: Tools API v1
  description: API van het Tools (apis.developer.overheid.nl)
  contact:
    name: Team developer.overheid.nl
    url: 'https://github.com/developer-overheid-nl/don-tools-api/issues'
    email: developer.overheid@geonovum.nl
  version: 1.0.0
servers:
  - url: 'https://api.developer.overheid.nl/tools/v1'
    description: Production
  - url: 'https://api-register.don.apps.digilab.network/tools/v1'
    description: Test
tags:
  - name: API v1
    description: Tools API V1 routes
  - name: Tools
    description: Conversies en hulpmiddelen
paths:
  /v1/bruno/convert:
    get:
      summary: Maak Bruno-collectie
      operationId: convertOpenAPIToBruno
      tags:
        - Tools
      description: >-
        Converteert OpenAPI naar Bruno ZIP. Gebruik query parameter 'oasUrl' of
        POST body met OAS.
      parameters:
        - name: oasUrl
          in: query
          schema:
            type: string
            example: 'https://example.com/openapi.yaml'
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
        '404':
          description: Not Found
      security:
        - apiKey: []
          clientCredentials:
            - 'tools:read'
      x-adc-status: 1
      x-adc-uri: /v1/bruno/convert
      x-adc-upstream:
        scheme: http
        nodes:
          '${endpoint:port}': 1
        hash_on: vars
        type: roundrobin
        pass_host: pass
      x-adc-plugins:
        rate-limit-by-keycloak-attribute:
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 300
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
        proxy-rewrite:
          regex_uri:
            - ^/(.*)
            - /$1
          use_real_request_uri_unsafe: false
        cors:
          allow_origins: '*'
          allow_credential: false
          allow_headers: 'Authorization,x-api-key,Content-Type'
          allow_methods: '*'
          max_age: 5
        keycloak-api-key-auth:
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 120
          policy_enforcement_mode: ENFORCING
          header: x-api-key
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          scope_required:
            - 'tools:read'
    post:
      summary: Maak Bruno-collectie (POST)
      operationId: convertOpenAPIToBrunoPost
      tags:
        - Tools
      description: >-
        Converteert OpenAPI naar Bruno ZIP. Body bevat het volledige OpenAPI
        document (JSON of YAML).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertOpenAPIToBrunoPostInput'
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
        '404':
          description: Not Found
      security:
        - apiKey: []
          clientCredentials:
            - 'tools:read'
      x-adc-status: 1
      x-adc-uri: /v1/bruno/convert
      x-adc-upstream:
        scheme: http
        nodes:
          '${endpoint:port}': 1
        hash_on: vars
        type: roundrobin
        pass_host: pass
      x-adc-plugins:
        rate-limit-by-keycloak-attribute:
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 300
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
        proxy-rewrite:
          regex_uri:
            - ^/(.*)
            - /$1
          use_real_request_uri_unsafe: false
        cors:
          allow_origins: '*'
          allow_credential: false
          allow_headers: 'Authorization,x-api-key,Content-Type'
          allow_methods: '*'
          max_age: 5
        keycloak-api-key-auth:
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 120
          policy_enforcement_mode: ENFORCING
          header: x-api-key
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          scope_required:
            - 'tools:read'
  /v1/lint:
    get:
      summary: Lint OpenAPI
      operationId: lintOpenAPI
      tags:
        - Tools
      description: >-
        Lint een OpenAPI specificatie met de DON ADR ruleset. Gebruik query
        parameter 'oasUrl'.
      parameters:
        - name: oasUrl
          in: query
          schema:
            type: string
            example: 'https://example.com/openapi.yaml'
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsLintResult'
        '404':
          description: Not Found
      security:
        - apiKey: []
          clientCredentials:
            - 'tools:read'
      x-adc-status: 1
      x-adc-uri: /v1/lint
      x-adc-upstream:
        scheme: http
        nodes:
          '${endpoint:port}': 1
        hash_on: vars
        type: roundrobin
        pass_host: pass
      x-adc-plugins:
        rate-limit-by-keycloak-attribute:
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 300
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
        proxy-rewrite:
          regex_uri:
            - ^/(.*)
            - /$1
          use_real_request_uri_unsafe: false
        cors:
          allow_origins: '*'
          allow_credential: false
          allow_headers: 'Authorization,x-api-key,Content-Type'
          allow_methods: '*'
          max_age: 5
        keycloak-api-key-auth:
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 120
          policy_enforcement_mode: ENFORCING
          header: x-api-key
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          scope_required:
            - 'tools:read'
    post:
      summary: Lint OpenAPI (POST)
      operationId: lintOpenAPIPost
      tags:
        - Tools
      description: >-
        Lint een OpenAPI specificatie met de DON ADR ruleset. Body bevat het
        volledige OpenAPI document (JSON of YAML).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LintOpenAPIPostInput'
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsLintResult'
        '404':
          description: Not Found
      security:
        - apiKey: []
          clientCredentials:
            - 'tools:read'
      x-adc-status: 1
      x-adc-uri: /v1/lint
      x-adc-upstream:
        scheme: http
        nodes:
          '${endpoint:port}': 1
        hash_on: vars
        type: roundrobin
        pass_host: pass
      x-adc-plugins:
        rate-limit-by-keycloak-attribute:
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 300
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
        proxy-rewrite:
          regex_uri:
            - ^/(.*)
            - /$1
          use_real_request_uri_unsafe: false
        cors:
          allow_origins: '*'
          allow_credential: false
          allow_headers: 'Authorization,x-api-key,Content-Type'
          allow_methods: '*'
          max_age: 5
        keycloak-api-key-auth:
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 120
          policy_enforcement_mode: ENFORCING
          header: x-api-key
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          scope_required:
            - 'tools:read'
  /v1/postman/convert:
    get:
      summary: Maak Postman-collectie
      operationId: convertOpenAPIToPostman
      tags:
        - Tools
      description: >-
        Converteert OpenAPI naar Postman Collection JSON. Gebruik query
        parameter 'oasUrl' of POST body met OAS.
      parameters:
        - name: oasUrl
          in: query
          schema:
            type: string
            example: 'https://example.com/openapi.yaml'
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
        '404':
          description: Not Found
      security:
        - apiKey: []
          clientCredentials:
            - 'tools:read'
      x-adc-status: 1
      x-adc-uri: /v1/postman/convert
      x-adc-upstream:
        scheme: http
        nodes:
          '${endpoint:port}': 1
        hash_on: vars
        type: roundrobin
        pass_host: pass
      x-adc-plugins:
        rate-limit-by-keycloak-attribute:
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 300
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
        proxy-rewrite:
          regex_uri:
            - ^/(.*)
            - /$1
          use_real_request_uri_unsafe: false
        cors:
          allow_origins: '*'
          allow_credential: false
          allow_headers: 'Authorization,x-api-key,Content-Type'
          allow_methods: '*'
          max_age: 5
        keycloak-api-key-auth:
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 120
          policy_enforcement_mode: ENFORCING
          header: x-api-key
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          scope_required:
            - 'tools:read'
    post:
      summary: Maak Postman-collectie (POST)
      operationId: convertOpenAPIToPostmanPost
      tags:
        - Tools
      description: >-
        Converteert OpenAPI naar Postman Collection JSON. Body bevat het
        volledige OpenAPI document (JSON of YAML).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertOpenAPIToPostmanPostInput'
      responses:
        '200':
          description: OK
          headers:
            API-Version:
              description: De API-versie van de response
              schema:
                type: string
        '404':
          description: Not Found
      security:
        - apiKey: []
          clientCredentials:
            - 'tools:read'
      x-adc-status: 1
      x-adc-uri: /v1/postman/convert
      x-adc-upstream:
        scheme: http
        nodes:
          '${endpoint:port}': 1
        hash_on: vars
        type: roundrobin
        pass_host: pass
      x-adc-plugins:
        rate-limit-by-keycloak-attribute:
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 300
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
        proxy-rewrite:
          regex_uri:
            - ^/(.*)
            - /$1
          use_real_request_uri_unsafe: false
        cors:
          allow_origins: '*'
          allow_credential: false
          allow_headers: 'Authorization,x-api-key,Content-Type'
          allow_methods: '*'
          max_age: 5
        keycloak-api-key-auth:
          token_url: >-
            https://auth.don.apps.digilab.network/realms/don/protocol/openid-connect/token
          client_secret: C7dZAGOU5ExAK4ixo7bSr5nQksbCP4xP
          client_id: don-admin-client
          cache_ttl: 120
          policy_enforcement_mode: ENFORCING
          header: x-api-key
          admin_api_url: 'https://auth.don.apps.digilab.network/admin/realms/don/clients/'
          scope_required:
            - 'tools:read'
components:
  schemas:
    ConvertOpenAPIToBrunoPostInput:
      type: object
      properties:
        '':
          type: array
          items:
            type: integer
            format: int32
        oas:
          type: array
          items:
            type: integer
            format: int32
    ConvertOpenAPIToPostmanPostInput:
      type: object
      properties:
        '':
          type: array
          items:
            type: integer
            format: int32
        oas:
          type: array
          items:
            type: integer
            format: int32
    LintOpenAPIPostInput:
      type: object
      properties:
        '':
          type: array
          items:
            type: integer
            format: int32
        oas:
          type: array
          items:
            type: integer
            format: int32
    ModelsLintMessage:
      type: object
      properties:
        code:
          type: string
        createdAt:
          type: string
          format: date-time
        id:
          type: string
        infos:
          type: array
          items:
            $ref: '#/components/schemas/ModelsLintMessageInfo'
        severity:
          type: string
    ModelsLintMessageInfo:
      type: object
      properties:
        id:
          type: string
        lintMessageId:
          type: string
        message:
          type: string
        path:
          type: string
    ModelsLintResult:
      type: object
      properties:
        apiId:
          type: string
        createdAt:
          type: string
          format: date-time
        failures:
          type: integer
          format: int32
        id:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ModelsLintMessage'
        score:
          type: integer
          format: int32
        successes:
          type: boolean
        warnings:
          type: integer
          format: int32
  responses:
    '404':
      $ref: 'https://static.developer.overheid.nl/adr/components.yaml#/responses/404'
  headers:
    API-Version:
      description: De API-versie van de response
      schema:
        type: string
        example: 1.0.0

